.applications_title {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.333;
	letter-spacing: 0.02em;
	color: rgba(0, 0, 0, 0.85);
	margin: 1.66em 11.11em 1.11em 1.11em;
}

.applications {
	height: 100px;
	box-sizing: border-box;
	padding: 15px;
	border-radius: 20px;
	background: linear-gradient(45deg, #f5555e 0%, #c444ed 30%, #2999f9 100%);
	background-size: 200%;
	animation: applications_bg 4s infinite linear;
	margin: 20px 0 0 0;
}

@keyframes applications_bg {
	0% {
			background-position: 0%;
	}
	50% {
			background-position: 100%;
	}
	100% {
			background-position: 0%;
	}
}

.applications_description {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.333;
	letter-spacing: 0.02em;
	color: white;
}
