body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	margin: 0 auto;
	max-width: 512px;
}

.header {
	text-align: center;
}

.logo {
	width: 48px;
	margin: 10px 0 40px 0;
}

.inner {
	display: grid;
	gap: 25px;
	row-gap: 50px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.img {
	width: 48px;
}

.description {
	color: black;
}

.price {
	color: black;
}


.item {
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;

	transition: background .2s linear;
}

.btn:hover {
	background: green;
}

.usercard {
	text-align: center;
}

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/
