@import url(/style/reset.css);

@media screen and (max-width : px) {}

.home {
	max-width: 425px;
	/* background: #EFF2F3; */
}

.home_header {
	position: relative;
	height: 280px;
	overflow: hidden;
	background: linear-gradient(45deg, #2999f9 0%, #c444ed 70%, #f5555e 100%);
	background-size: 200%;
	animation: home_header 4s infinite linear;
}

@keyframes home_header {
	0% {
			background-position: 0%;
	}
	50% {
			background-position: 100%;
	}
	100% {
			background-position: 0%;
	}
}

.header_box div {
	position: absolute;
	width: 48px;
	height: 48px;
	background: url(/pictures/кленовый_лист.png) no-repeat;
}

.header_box div:nth-child(1) {
	left: 5%;
	background: url(/pictures/упавший_лист.png) no-repeat center;
	animation: animate 6s linear infinite; 
}

.header_box div:nth-child(2) {
	/* top: 60%; */
	left: 15%;
	animation: animate 9s linear infinite; 
}

.header_box div:nth-child(3) {
	/* top: 40%; */
	left: 25%;
	background: url(/pictures/упавший_лист.png) no-repeat center;
	animation: animate 7s linear infinite;
}

.header_box div:nth-child(4) {
	/* top: 60%; */
	left: 35%;
	animation: animate 8s linear infinite; 
}

.header_box div:nth-child(5) {
	/* top: 90%; */
	left: 45%;
	background: url(/pictures/упавший_лист.png) no-repeat center;
	animation: animate 5s linear infinite;
}

.header_box div:nth-child(6) {
	/* top: 30%; */
	left: 55%;
	animation: animate 7s linear infinite; 
}

.header_box div:nth-child(7) {
	/* top: 70%; */
	left: 65%;
	background: url(/pictures/упавший_лист.png) no-repeat center;
	animation: animate 6s linear infinite;
}

.header_box div:nth-child(8) {
	/* top: 75%; */
	left: 75%;
	animation: animate 9s linear infinite; 
}

.header_box div:nth-child(9) {
	/* top: 50%; */
	left: 85%;
	background: url(/pictures/упавший_лист.png) no-repeat center;
	animation: animate 7s linear infinite;
}

.header_box div:nth-child(10) {
	/* top: 45%; */
	left: 95%;
	animation: animate 8s linear infinite; 
}

.header_box div:nth-child(11) {
	top: 10%;
	left: 20%;
	background: url(/pictures/упавший_лист.png) no-repeat center;
	animation: animate 5s linear infinite;
}

.header_box div:nth-child(12) {
	top: 10%;
	left: 80%;
	animation: animate 7s linear infinite; 
}

.header_box div:nth-child(13) {
	top: 10%;
	left: 50%;
	background: url(/pictures/упавший_лист.png) no-repeat center;
	animation: animate 6s linear infinite;
}

.header_box div:nth-child(14) {
	top: 20%;
	left: 90%;
	animation: animate 9s linear infinite; 
}

.header_box div:nth-child(15) {
	top: 20%;
	left: 5%;
	background: url(/pictures/упавший_лист.png) no-repeat center;
	animation: animate 7s linear infinite;
}

@keyframes animate {
	0% {
		transform: scale(0) translateY(0) rotate(90deg);
		opacity: 0;
	}
	100% {
		transform: scale(1) translateY(280px) rotate(360deg);
		opacity: 1;
	}
}

.home_container {
	max-width: 414px;
	padding: 0 15px 15px;
	/* background: #EFF2F3; */
}

.products_card {
	height: 230px;
	border-radius: 20px;
	margin: 25px 0;
}

.product_card__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.action_card__title {
	width: 140px;
	margin: 30px 200px 20px 20px;
	font-family: 'Hurme Geometric Sans 1';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: rgba(0, 0, 0, 0.85);
}

.action_card {
	box-sizing: border-box;
	padding: 15px;
	height: 100px;
	border-radius: 20px;
	background: linear-gradient(45deg, #2999f9 0%, #c444ed 70%, #f5555e 100%);
	background-size: 200%;
	animation: action_card 4s infinite linear;
}

@keyframes action_card {
	0% {
			background-position: 0%;
	}
	50% {
			background-position: 100%;
	}
	100% {
			background-position: 0%;
	}
}

.action_card__description {
	font-family: 'Hurme Geometric Sans 1';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: white;
}

.home_main__title {
	width: 155px;
	margin: 30px 200px 20px 20px;
	font-family: 'Hurme Geometric Sans 1';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: rgba(0, 0, 0, 0.85);
}

.home_main {
	display: flex;
	height: 200px;
	gap: 15px;
	background: transparent;
}

.main_card {
	position: relative;
	display: flex;
	flex: 0 1 50%;
	padding: 15px;
	flex-direction: row;
	align-items: flex-start;
	border-radius: 25px;
	background: linear-gradient(45deg, #2999f9 0%, #c444ed 100%);
}

.main_card__description {
	font-family: 'Hurme Geometric Sans 1';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: white;
}

/* @media screen and (min-width : 375px) {
	.main_card {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		padding: 15px 0;
		width: 48%;
		height: 195px;
		border-radius: 25px;
		background: linear-gradient(45deg, #2999f9 0%, #c444ed 100%);
	}

	.main_card__description {
		font-family: 'Hurme Geometric Sans 1';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.5px;
		color: white;
	}
} */

/* @media screen and (min-width : 425px) {
	.main_card {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		padding: 15px 0;
		width: 48%;
		height: 215px;
		border-radius: 25px;
		background: linear-gradient(45deg, #2999f9 0%, #c444ed 100%);
	}

	.main_card__description {
		font-family: 'Hurme Geometric Sans 1';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.5px;
		color: white;
	}
} */

.home_footer__title {
	width: 140px;
	margin: 30px 200px 20px 20px;
	font-family: 'Hurme Geometric Sans 1';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: rgba(0, 0, 0, 0.85);
}

.home_footer {
	box-sizing: border-box;
	padding: 15px;
	height: 100px;
	border-radius: 20px;
	background: linear-gradient(45deg, #f5555e 0%, #c444ed 30%, #2999f9 100%);
	background-size: 200%;
	animation: home_footer 4s infinite linear;
	margin: 20px 0 0 0;
}

@keyframes home_footer {
	0% {
			background-position: 0%;
	}
	50% {
			background-position: 100%;
	}
	100% {
			background-position: 0%;
	}
}

.home_footer__description {
	font-family: 'Hurme Geometric Sans 1';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: white;
}
