@import url(/style/reset.css);

@media screen and (max-width : px) {}

.home {
	max-width: 425px;
	background: #EFF2F3;
}

.home_header {
	height: 280px;
	/* padding: 8px 0 0 0; */
	/* background: linear-gradient(to top, #2196f3, #f2fcfe); */
	background: linear-gradient(to bottom, #c471ed, #12c2e9);
}

/* .header_icon {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 20px;
	background: transparent;
} */

.home_container {
	max-width: 414px;
	padding: 0 15px 15px;
	background: #EFF2F3;
}

.products_cards {
	height: 230px;
	border-radius: 20px;
	/* background: #2196f3; */
	/* background: linear-gradient(to right, #db36a4, #f7ff00); */
	background: linear-gradient(to top, #c471ed, #12c2e9);
	margin: 20px 0 25px 0;
}

/* .action_card__title {
	width: 140px;
	margin: 30px 200px 20px 20px;
	font-family: 'Hurme Geometric Sans 1';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: rgba(0, 0, 0, 0.85);
} */

.action_card {
	height: 100px;
	border-radius: 20px;
	/* background: #2196f3; */
	background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

.home_main__title {
	width: 140px;
	margin: 30px 200px 20px 20px;
	font-family: 'Hurme Geometric Sans 1';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: rgba(0, 0, 0, 0.85);
}

.home_main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	/* background: #FFFFFF; */
	background: transparent;
	margin-bottom: 25px;
}

.main_card {
	width: 48%;
	height: 175px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 25px;
	/* background: #F4FBFD; */
	/* background: #2196f3; */
	background: linear-gradient(to right, #c471ed, #00f260);
}

@media screen and (min-width : 375px) {
	.main_card {
		width: 48%;
		height: 195px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 25px;
		/* background: #2196f3; */
		background: linear-gradient(to right, #c471ed, #00f260);
	}
}

@media screen and (min-width : 425px) {
	.main_card {
		width: 48%;
		height: 215px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 25px;
		/* background: #2196f3; */
		background: linear-gradient(to right, #c471ed, #00f260);
	}
}

/* .home_footer__title {
	width: 140px;
	margin: 30px 200px 20px 20px;
	font-family: 'Hurme Geometric Sans 1';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: rgba(0, 0, 0, 0.85);
} */

.home_footer {
	height: 100px;
	border-radius: 20px;
	/* background: #2196f3; */
	background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
	margin: 20px 0 0 0;
}
