@import url(/style/reset.css);


@media screen and (min-width: 320px) and (max-width : 412px) {
}

@media screen and (min-width: 414px) and (max-width : 800px) {
}


.productCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 414px;
	min-width: 320px;
	box-shadow: 0px 40px 100px rgba(19, 43, 103, 0.3);
}

.productCard_header {
	width: 100%;
	min-height: 389px;
	background: url(/pictures/productCard_header.svg) no-repeat center / cover;
}

.productCard_main {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 30px;
	background: #FFFFFF;
	transform: translateY(-8%);
}

.mainCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	gap: 20px;
}

.mainCard_title {
	font-family: 'Hurme Geometric Sans 1';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 25px;
	text-align: center;
	color: rgba(0, 0, 0, 0.85);
}

.mainCard_subtitle {
	font-family: 'Hurme Geometric Sans 1';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
}

.mainCard_text {
	max-width: 280px;
	font-family: 'Hurme Geometric Sans 1';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.8);
}

.mainCard_btn {
	padding: 10px;
	width: 148px;
	height: 48px;
	border: none;
	border-radius: 30px;
	background: #2690DE;
}

.productCard_footer {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	height: 126px;
	margin: 0 10px 5px 10px;
	background: 
		url(/pictures/productCard_footer.svg) no-repeat 0 5px,	
		linear-gradient(97.87deg, rgba(88, 225, 243, 0.3) 7%, rgba(37, 82, 228, 0.3) 95.86%);
	border-radius: 30px;
}

.footerCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 156px;
	height: 120px;
}

.footerCard_title {
	font-family: 'Hurme Geometric Sans 1';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	text-align: center;
	color: rgba(0, 0, 0, 0.85);
}

.footerCard_btn {
	padding: 10px;
	width: 100px;
	height: 38px;
	border: none;
	border-radius: 30px;
	background: #2690DE;
}
