<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
	<title>Product card</title>
	<link rel="stylesheet" href="/style/product_card.css">
</head>

<body>
	
	<section class="productCard"> 
		<header class="productCard_header"></header>

		<main class="productCard_main">
			<div class="mainCard">
				<h1 class="mainCard_title">Horizon<br><span class="mainCard_subtitle">Forbidden West</span></h1>
				<p class="mainCard_text">Join Aloy as she braves the Forbidden West – a majestic but dangerous frontier that conceals mysterious new threats.</p>
				<button class="mainCard_btn">Play now</button>
			</div>

			<footer class="productCard_footer">
				<div class="footerCard">
					<h1 class="footerCard_title">Fortnite<br>Tournament</h1>
					<button class="footerCard_btn">Join now</button>
				</div>
			</footer>
		</main>
	</section>
	
	<script src="https://telegram.org/js/telegram-web-app.js"></script>
</body>

</html>